* { box-sizing: border-box; }

body {
    margin: 0;
    background: #ffff;
    font-family: "Comfortaa";
}

/* this is my full phone screen */
#screen {
    /*i searched up dimensions for a phone and then divided by a factor*/
    width: 375px;
    height: 812px;

    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;

    /* to draw a border around my phone screen */
    border: 2px solid #000000;

    /* this makes every child element to be relative to the iphone screen and not the page */
    position: relative;

    display: flex;
    flex-direction: column;
}


#header {
    height: 80px;

    display: flex;
    align-items: center;
    gap: 14px;
    padding-top: 12px;
    padding-right: 14px;
    padding-bottom: 12px;
    padding-left: 14px;

    background: #ffff;
}

.menu {
    width: 50px;
}


#search {
    /* so that child elements can be positioned relative to it */
    position: relative;
    width: 290px;
}

.searchImg {
    width: 100%;
}


#searchText {
    position: absolute;

    /* i used for spacing inside the search bar */
    top: 24px;
    left: 60px;

    font-size: 20px;
    color: #808080;
}


/*i basically made it just a small rectangle divider*/
#divider {
    height: 2px;
    background: #a9a9a9;
}


#sort {
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;

    background: #ffff;
}

#sortTitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

#sortOptions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 12px;
}

#option {
    display: flex;
    align-items: center;
}

.label {
    font-size: 16px;
    color: #000080;
}

.circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;

    border: 2px solid #585e63;
    
    /*used so that the circle actually shows up with width and height */
    display: inline-block;

    position: relative;
}

.option.filled .circle::after {
    content: "";
    position: absolute;
    inset: 1px;
    background: #7b0000;
    border-radius: 50%;
}


#penncontent {
    flex: 1;
    background: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
}


.penn {
    width: 300px;
}

.info {
    position: absolute;
    /*i positioned in bottom right corner */
    right: 14px;
    bottom: 14px;

    width: 40px;
}
